@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Wiggle Animation */
  @keyframes wiggle {
    0% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-5deg);
    }
  }
  .animate-wiggle {
    animation: wiggle 1.5s infinite;
  }
  
  /* Shake Animation */
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .animate-shake {
    animation: shake 1s infinite;
  }
  
  /* Short Bounce Animation */
  @keyframes bounce-short {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .animate-bounce-short {
    animation: bounce-short 1s infinite;
  }
  